
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="fragments :: risorse-head"></th:block>
    <title>University</title>  
  </head>
  <body >
    <div th:replace="fragments :: navbar('index')"></div>
    <div class="container text-center w-75 mt-3">
        <h1>Pizzeria</h1>
        <hr>
        <h2>Ecco la nostra selezione di pizze</h2>
         <div th:if="${#lists.isEmpty(Listpizza)}">
	        <h1>Spiacenti, non è disponibile una lista di insegnanti</h1>
	      </div>
      <div th:unless="${#lists.isEmpty(Listpizza)}">
        <table class="table mb-5">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Descrizione</th>
              <th>Prezzo</th>
            </tr>
          </thead>
          
          
          <tbody>
            <tr th:each="t : ${Listpizza}">
              <td th:text="${t.nome}"></td>
              <td th:text="${t.descrizione}"></td>
              <td th:text="${t.prezzo}"></td>
             
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>